<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>LMS | 404</title>
    <div th:replace="layout/head :: head"></div>
      
  </head>
  <body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
   <!-- loader Start -->
    <div th:replace="layout/loader :: div"></div>
    <!-- loader END -->
    
      <div class="wrapper">
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>

<div class="gradient">
    <div class="container">
        <img src="../../assets/images/error/404.png" class="img-fluid mb-4 w-50" alt=""> 
        <h2 class="mb-0 mt-4 text-white">Oops! This Page is Not Found.</h2>
        <p class="mt-2 text-white">The requested page dose not exist.</p>
        <div th:if="${user_name != null}">
            <a class="btn bg-white text-primary d-inline-flex align-items-center" th:href="@{/dashboard}">Back to Home</a>
        </div>
        <div th:if="${user_name == null}">
            <a class="btn bg-white text-primary d-inline-flex align-items-center" th:href="@{/login}">Back to Home</a>
        </div>
    </div>
    <div class="box">
        <div class="c xl-circle">
            <div class="c lg-circle">
                <div class="c md-circle">
                    <div class="c sm-circle">
                        <div class="c xs-circle">                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
      </div>
    
      <div th:replace="layout/scripts :: script"></div>
    
  </body>
</html>